{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head style="border: 1px solid blue;">
        <title>Add To Chain</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">

        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/page/chainAdd.css' %}">

        <script type="text/javascript" src="{% static 'drawwrite/js/jquery/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'drawwrite/js/bootstrap/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'drawwrite/js/page/chainAdd.js' %}"></script>
    </head>

    <body>
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    {% if prevLinkType != '' %}
                        {% if prevLinkType == 'write' %}
                            <h3>Previous player's writing:</h3>
                            <p>{{ prevLink.text }}</p>
                        {% else %}
                            <h3>Previous player's drawing:</h3>
                            <img class="boxed scaleImage" src="{{ prevLink.f.url }}">
                        {% endif %}
                    {% endif %}

                    <form id="postForm" action="{% url 'drawwrite:createLink' playerId %}" method="post">
                        {% csrf_token %}

                        {% if prevLinkType == 'write' %}
                            <h3>Your drawing:</h3>
                            <div id="drawwriteCanvasWrapper">
                                <div class="canvas-menu">
                                    <div id="drawToolButton" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </div>
                                </div>
                                <div class="boxed" id="drawwriteCanvasHolder">
                                </div>
                            </div>
                            <input id="imgDataHolder" type="hidden" name="drawing">
                        {% endif %}

                        {% if prevLinkType == 'draw' or prevLinkType == '' %}
                            <h3>Your writing:</h3>
                            <div class="form-group">
                                <textarea class="form-control" name="description" id="id_description"></textarea>
                            </div>
                        {% endif %}

                        <input class="btn btn-default" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>
