{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>View Chain</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">

        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/page/chain.css' %}">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <h3 class="text-center">{{ player.name }}</h3>
                    {% for link in links %}
                        <div>
                            {% if link.f %}
                                <h4>{{ link.addedBy.name }} drew:</h4>
                            {% elif link.text %}
                                <h4>{{ link.addedBy.name }} wrote:</h4>
                            {% endif %}
                            {% if link.f %}
                                <div class="indented">
                                    <img class="boxed scaleImage" src="{{ link.f.url }}">
                                </div>
                            {% elif link.text %}
                                <div class="indented">
                                    <p>{{ link.text }}</p>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="topSpace">
                        <a href="{% url 'drawwrite:showGame' player.game.pk %}">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
