{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>View Chain</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap-theme.min.css' %}">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <ul>
                    {% for link in links %}
                        <li>
                        {% if link.f %}
                            <img src="{{ link.f.url }}">
                        {% elif link.text %}
                            <p>{{ link.text }}</p>
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </body>

</html>
