{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head style="border: 1px solid blue;">
        <title>Add To Chain</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">

        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/page/chainAdd.css' %}">

        <script type="text/javascript" src="{% static 'drawwrite/js/jquery/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'drawwrite/js/bootstrap/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'drawwrite/js/page/chainAdd.js' %}"></script>
    </head>

    <body>
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    {% if prevLinkType != '' %}
                        <h3 class="text-center">Add</h3>
                        {% if prevLinkType == 'write' %}
                            <h4>Previous player's writing:</h4>
                            <div class="indented">
                                <p>{{ prevLink.text }}</p>
                            </div>
                        {% else %}
                            <h4>Previous player's drawing:</h4>
                            <div class="indented">
                                <img class="boxed scaleImage" src="{{ prevLink.f.url }}">
                            </div>
                        {% endif %}
                    {% else %}
                        <h3 class="text-center">Start</h3>
                    {% endif %}

                    <form id="postForm" action="{% url 'drawwrite:createLink' playerId %}" method="post">
                        {% csrf_token %}

                        {% if prevLinkType == 'write' %}
                            <h4>Your drawing:</h4>
                            <div id="drawwriteCanvasWrapper">
                                <div class="btn-group canvas-menu">
                                    <div id="drawToolButton" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </div>
                                    <div class="undoToolButton btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </div>
                                </div>
                                <div id="drawwriteCanvasHolder"></div>
                            </div>
                            <input id="imgDataHolder" type="hidden" name="drawing">
                        {% endif %}

                        {% if prevLinkType == 'draw' or prevLinkType == '' %}
                            <h4>Your writing:</h4>
                            <div class="form-group indented">
                                <textarea class="form-control" name="description" id="id_description"></textarea>
                            </div>
                        {% endif %}

                        <div class="topSpace">
                            <input class="btn btn-default col-xs-12 col-sm-3 col-md-2" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>
