{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Add To Chain</title>
        <meta charset="UTF-8">
        <script src="{% static 'drawwrite/js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'drawwrite/js/drawStuff.js' %}" type="text/javascript"></script>
        <link href="{% static 'drawwrite/css/index.css' %}" rel="stylesheet" type="text/css">
        <script>
            function makeDataUrl(e) {
                var can = document.getElementById('drawWriteCanvas');
                var data = can.toDataURL('image/png');
                $('#imgDataHolder').attr('value', data);
            }

            $(document).ready(function () {
                $('#postForm').submit(makeDataUrl);
            });
        </script>
    </head>
    <body>
        <div class="previosLink">
            {% if prevLinkType == 'write' %}
            <p>{{ prevLink.text }}</p>
            {% else %}
            <img src="{{ prevLink.f.url }}">
            {% endif %}
        </div>

        <form id="postForm" action="{% url 'drawwrite:createLink' playerId %}" method="post">
            {% csrf_token %}
            <div class="currentLink">
                {% if prevLinkType == 'write' %}
                <div>
                    <canvas id="drawWriteCanvas" width="500px" height="500px">
                        If you can see this, then this app will not work in your browser. Sorry!
                    </canvas>
                </div>
                <input id="imgDataHolder" type="hidden" name="drawing">
                {% else %}
                <input type="text" name="description">
                {% endif %}
            </div>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
