{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Waiting Area</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap-theme.min.css' %}">

        <script type="text/javascript" src="{% static 'drawwrite/js/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript">var checkUrl = "{% url 'drawwrite:checkGameDone' gameId %}";</script>
        <script type="text/javascript" src="{% static 'drawwrite/js/gameWaiting.js' %}"></script>
    </head>

    <body>
        <div class="container-fluid">
            <h1>Wait here for all players to finish the game</h1>
            <button onclick="checkGameDone()">Check for game completion</button>
        </div>
    </body>

</html>
