{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Waiting Area</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap-theme.min.css' %}">

        <script type="text/javascript" src="{% static 'drawwrite/js/jquery/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'drawwrite/js/page/gameWaiting.js' %}"></script>

        <script type="text/javascript">var drawwriteAjaxUrl = "{% url 'drawwrite:checkGameDone' gameId %}";</script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <h1 class="col-xs-12 text-center">Wait here for all players to finish the game</h1>
                    <button id="checkGameCompletion" class="btn btn-default col-xs-12 col-sm-8 col-sm-offset-2">Check for game completion</button>
                </div>
            </div>
        </div>
    </body>

</html>
