{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Completed Game</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap-theme.min.css' %}">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <h1 class="text-center">{{ gameName }}</h1>
                    <ul class="col-xs-12 col-sm-10 col-sm-offset-1">
                        {% for player in players %}
                            <li><a href="{% url 'drawwrite:showChain' player.pk %}">{{ player.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </body>

</html>

