{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>DrawWrite</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">

        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/shared.css' %}">

        <script type="text/javascript" src="{% static 'drawwrite/js/jquery/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'drawwrite/js/shared.js' %}"></script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="mainCol col-xs-12 col-sm-6 col-sm-offset-3">
                    <h1 class="text-center">DrawWrite!</h1>

                    {% if errorTitle %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h2 class="panel-title">{{errorTitle}}</h2>
                            </div>
                            <div class="panel-body">
                                <p>{{errorDescription}}</p>
                            </div>
                        </div>
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}">Your name:</label>
                            {{ form.username|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.gamename.id_for_label }}">Game name:</label>
                            {{ form.gamename|add_class:"form-control" }}
                        </div>
                        <button type="submit" class="btn btn-default col-xs-12 col-sm-6" formaction="{% url 'drawwrite:joinGame'%}">Join</button>
                        <button type="submit" class="btn btn-default col-xs-12 col-sm-6" formaction="{% url 'drawwrite:createGame' %}">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>
