{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>DrawWrite</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">

        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/shared.css' %}">

        <script type="text/javascript" src="{% static 'drawwrite/js/jquery/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'drawwrite/js/bootstrap/bootstrap.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'drawwrite/js/shared.js' %}"></script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="mainCol col-xs-12 col-sm-6 col-sm-offset-3">
                    <h1 class="text-center">DrawWrite!</h1>

                    {% if error_title %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h2 class="panel-title">{{error_title}}</h2>
                            </div>
                            <div class="panel-body">
                                <p>{{error_description}}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div>

                        <!-- Navigation tabs to choose 'creation' or 'joining' -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#create" aria-controls="create" role="tab" data-toggle="tab">Create</a></li>
                            <li role="presentation"><a href="#join" aria-controls="join" role="tab" data-toggle="tab">Join</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <!-- Create tab -->
                            <div role="tabpanel" class="tab-pane active" id="create">
                                <form method="post" action="{% url 'drawwrite:createGame' %}">

                                    {% csrf_token %}

                                    <div class="form-group">
                                        <label for="{{ create_form.username.id_for_label }}">Your name:</label>
                                        {{ create_form.username|add_class:"form-control" }}
                                    </div>

                                    <div class="form-group game-name">
                                        <label for="{{ create_form.gamename.id_for_label }}">Game name:</label>
                                        {{ create_form.gamename|add_class:"form-control" }}
                                    </div>

                                    <button type="submit" class="btn btn-default col-xs-12 col-sm-6">Create</button>

                                </form>
                            </div>

                            <!-- Join tab -->
                            <div role="tabpanel" class="tab-pane" id="join">
                                <form method="post" action="{% url 'drawwrite:joinGame' %}">

                                    {% csrf_token %}

                                    <div class="form-group">
                                        <label for="{{ join_form.username.id_for_label }}">Your name:</label>
                                        {{ join_form.username|add_class:"form-control" }}
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ join_form.gamename.id_for_label }}">Available games:</label>
                                        {{ join_form.gamename|add_class:"form-control" }}
                                    </div>

                                    <button type="submit" class="btn btn-default col-xs-12 col-sm-6">Join</button>

                                </form>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </body>

</html>
