{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Waiting Area</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">

        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/page/roundWaiting.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/shared.css' %}">

        <script type="text/javascript" src="{% static 'drawwrite/js/jquery/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'drawwrite/js/page/roundWaiting.js' %}"></script>
        <script type="text/javascript" src="{% static 'drawwrite/js/shared.js' %}"></script>

        <script type="text/javascript">var drawwriteAjaxUrl = "{% url 'drawwrite:checkRoundDone' player_id %}";</script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="mainCol col-xs-12 col-sm-6 col-sm-offset-3">
                    <h3 class="text-center">Waiting Area</h3>
                    <h4>Waiting for:</h4>
                    <div class="stillPlayingWrapper"></div>
                </div>
            </div>
        </div>
    </body>

</html>
