{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Waiting Area</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">

        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/page/waiting.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'drawwrite/css/shared.css' %}">

        <script type="text/javascript" src="{% static 'drawwrite/js/jquery/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'drawwrite/js/page/waiting.js' %}"></script>
        <script type="text/javascript" src="{% static 'drawwrite/js/shared.js' %}"></script>

        <script type="text/javascript">var drawwriteAjaxUrl = "{% url 'drawwrite:checkGameStart' player_id %}";</script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="mainCol col-xs-12 col-sm-6 col-sm-offset-3">
                    <h3 class="text-center">Lobby</h3>

                    <h4>Players:</h4>
                    <div id="nameList">
                        {% for player in all_players %}
                            <div class="indented">
                                {{ player.name }}
                            </div>
                        {% endfor %}
                    </div>

                    {% if created == True %}
                        <form action="{% url 'drawwrite:startGame' player_id %}" method="POST">
                            {% csrf_token %}
                            <div class="topSpace">
                                <button class="btn btn-default col-xs-12 col-sm-3 col-md-2">Start Game</button>
                            </div>
                        </form>
                    {% else %}
                        <p class="topSpace">Once all players have joined, <strong>{{ creator }}</strong> will start the game!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>

</html>
