#drawwriteCanvasWrapper {
    position: relative;
}

#drawwriteCanvas {
    border: 1px solid black;
}

.canvas-menu {
    position: absolute;
    left: 1px;
    top: 1px;
}

.affix {
    position: fixed;
    top: 1px;
}
